### Week 14. Data Carpentry

By Charlie Eaton, April 2020

1. String editing
2. Merges

### 1. String editing

* String variables are a "string" of characters, including letter, punctuation, and numbers
* They are case sensitive
* Stata can't do math on strings
* When we assemble data from the real world, individuals and observations are often identified by strings
* So we have to be able to efficiently standardize and clean strings
* Here is Stata support documentation on "String functions" that we use to edit strings: https://www.stata.com/manuals/fnstringfunctions.pdf
* Here is how to implement some of my favorite string functions:

In [2]:
use universityboards, clear
ds

unitid        pctalt        fgrnt_p       pctunderfi~t
year          acceptrate    endow_asse~g  top30private
schoolname    control       logtotal03~e  top30public

In [5]:
tab schoolname

                     (first) schoolname |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
                   arizona state system |         12        1.35        1.35
                      boston university |         12        1.35        2.71
                    brandeis university |         14        1.58        4.28
                       brown university |         10        1.13        5.41
     california institute of technology |         15        1.69        7.10
             carnegie mellon university |         15        1.69        8.79
        case western reserve university |         15        1.69       10.48
                    columbia university |         15        1.69       12.18
                     cornell university |         15        1.69       13.87
                      dartmouth college |         15        1.69       15.56
                        duke university |         15        1.69       17.25
                       emory university |         15        1.69       18.94
               florida state university |         15        1.69       20.63
                  georgetown university |         15        1.69       22.32
              georgia university system |         15        1.69       24.01
                     harvard university |         15        1.69       25.70
              indiana university system |         15        1.69       27.40
               johns hopkins university |         15        1.69       29.09
             maryland university system |         15        1.69       30.78
  massachusetts institute of technology |         15        1.69       32.47
              michigan state university |         15        1.69       34.16
                    new york university |         15        1.69       35.85
                northeastern university |         15        1.69       37.54
                northwestern university |         15        1.69       39.23
                  ohio state university |         15        1.69       40.92
          pennsylvania state university |         15        1.69       42.62
                   princeton university |         15        1.69       44.31
       purdue university west lafayette |         15        1.69       46.00
                        rice university |         15        1.69       47.69
rutgers, the state university of new .. |         15        1.69       49.38
                    stanford university |         15        1.69       51.07
   state university of new york buffalo |         15        1.69       52.76
                   texas a&m university |         15        1.69       54.45
                       tufts university |         15        1.69       56.14
        university of california system |         15        1.69       57.84
                  university of chicago |         15        1.69       59.53
               university of cincinnati |         15        1.69       61.22
                 university of colorado |         15        1.69       62.91
                 university of delaware |         15        1.69       64.60
                  university of florida |         15        1.69       66.29
         university of hawai'i at mƒÅnoa |         15        1.69       67.98
          university of illinois system |         15        1.69       69.67
                     university of iowa |         15        1.69       71.36
    university of massachusetts amherst |         15        1.69       73.06
          university of michigan system |         15        1.69       74.75
                university of minnesota |         15        1.69       76.44
    university of north carolina system |         15        1.69       78.13
               university of notre dame |         14        1.58       79.71
             university of pennsylvania |         15        1.69       81.40
                university of rochester |         15        1.69       83.09
            university of south florida |         15        1.69       84.78
      university of southern california |         15        1.69       86.47
             university of texas system |         15        1.69       88.16
                     university of utah |         15        1.69       89.85
          university of virginia system |         15        1.69       91.54
        university of washington system |         15        1.69       93.24
         university of wisconsin system |         15        1.69       94.93
                  vanderbilt university |         15        1.69       96.62
      washington university in st louis |         15        1.69       98.31
                        yale university |         15        1.69      100.00
----------------------------------------+-----------------------------------
                                  Total |        887      100.00