In [1]:
cd "/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017"
set more off
use forbes400_alum_board_1989_2003_2017, clear

quietly egen finance=rowtotal(pe hedge otherfin)
quietly egen pehedge=rowtotal(pe hedge)
quietly cd "/Users/Charlie/Stata_Notebooks/"
quietly outsheet using forbes400_alum_board_1989_2003_2017.csv, comma replace
replace id=895 if id==712 & middlen=="alfred"
replace id=896 if id==311 & middlen==""
quietly cd "/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017"

/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017







(1 real change made)

(1 real change made)

In [2]:
est clear

quietly eststo: logistic boardtop30public finance technology inherited ///
i.year, ro cluster(id) 

quietly eststo: logistic boardtop30private finance technology inherited ///
i.year, ro cluster(id)

quietly eststo: logistic boardtop30private finance technology inherited worth ///
i.year, ro cluster(id) 

quietly eststo: logistic boardtop30private pehedge otherfin technology worth inherited ///
i.year, ro cluster(id) 

quietly eststo: logistic boardtop30private pehedge otherfin technology worth inherited ///
ib4.collegeschooltype ib1.mbaschooltype i.year, ro cluster(id)

In [3]:
%html

esttab ///
, eform cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth inherited technology finance pehedge otherfin ///
2.collegeschooltype 3.collegeschooltype ///
2.mbaschooltype 3.mbaschooltype) ///
	order ( inherited technology finance worth pehedge otherfin ///
2.collegeschooltype 3.collegeschooltype ///
2.mbaschooltype 3.mbaschooltype) ///
coeflabels(finance "finance" pe "private equity" hedge "hedge fund" otherfin "other finance" ///
tech "technology" worth "worth in billions (2017 $)" inherited "inherited wealth" ///
1.collegeschooltype "Non-top 60 BA" 2.collegeschooltype "Top 30 public BA" 3.collegeschooltype "Top 30 private BA" ///) replace
2.mbaschooltype "Top 30 public MBA" 3.mbaschooltype "Top 30 private MBA") ///
replace br  nocon html collabels(none) ///
mlabels("Top 30 Public" "Top 30 Private" "Top 30 Private" "Top 30 Private") ///
title(Table 2: Odds ratios for university board membership among Forbes 400) eqlabels(none)

This front-end or document format cannot display HTML

In [4]:
esttab using T3_circuitry_Forbes_board20200128.rtf  ///
,  cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
    keep ( worth inherited technology finance pehedge otherfin ///
2.collegeschooltype 3.collegeschooltype ///
2.mbaschooltype 3.mbaschooltype) ///
	order ( worth inherited technology finance pehedge otherfin ///
2.collegeschooltype 3.collegeschooltype ///
2.mbaschooltype 3.mbaschooltype) ///
coeflabels(finance "finance" pe "private equity" hedge "hedge fund" otherfin "other finance" ///
tech "technology" worth "worth in billions (2017 $)" inherited "inherited wealth" ///
1.collegeschooltype "Non-top 60 BA" 2.collegeschooltype "Top 30 public BA" 3.collegeschooltype "Top 30 private BA" ///) replace
2.mbaschooltype "Top 30 public MBA" 3.mbaschooltype "Top 30 private MBA") ///
replace br  nocon collabels(none) ///
mlabels("Top 30 Public" "Top 30 Private" "Top 30 Private" "Top 30 Private") ///
title(Table 2: Odds ratios for university board membership among Forbes 400) eqlabels(none)

(output written to T3_circuitry_Forbes_board20200128.rtf)